<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>login</title>
</head>
<style media="screen">
body{
  background-color: #C47101;
}
.image {
  background-image: url("../images/login.png");
  background-size: 100% 100%;
}
.navbar-inverse {
  background-color:#EBC108;
}
.btn-primary {
  color: #fff;
  background-color: #C55935;
  border-color: #C55935;
  width: 107%;
  height: 107%;
  font-size: 22px;
}
.panel-footer {
  background-color: #EBC108;
  color: white;
  text-align: center;
}
.btn-primary:hover {
  color: #CFCFCF;
  background-color:white;
  border-color:##CFCFCF;
}
.btn-primary {
  color: white;
  background-color:  #CFCFCF;
  border-color: white;
}
</style>
<body>
  <div class="container">

    <div class="row">
      <nav class="navbar navbar-inverse col-lg-12">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"><h1>League Of Heroes</h1></a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/create">New post</a></li>
            <li><a href="/archive">Archive</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/profile">profile</a></li>

          </ul>
        </div>
      </nav>
    </div>
    <div class="row">
      <h1>Login Using....</h1></div>
      <div class="row">
        <div class="panel-body">
          <a class="btn btn-primary btn-lg" href="/auth/google" role="button">Google+</a>
        </div>
      </div>
      <div class="row">
        <div class="jumbotron col-lg-12 image">

        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-footer">Copyright@LeagueOfHeroes2018</div>
      </div>




    </div>
  </body>
  </html>
